.projects {
  padding: 80px 40px;
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-sub {
  color: #aaa;
  margin-bottom: 40px;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.project-card {
  background: #111;
  border: 1px solid #222;
  border-radius: 14px;
  overflow: hidden;
  text-align: left;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

/* HOVER */
.project-card:hover {
  border-color: cyan;
  transform: translateY(-5px);
}

/* IMAGE AREA */
.project-image {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-bottom: 1px solid #222;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

/* IMAGE ZOOM */
.project-card:hover .project-image img {
  transform: scale(1.05);
}

/* CONTENT */
.project-content {
  padding: 20px;
}

.project-content h3 {
  margin-bottom: 10px;
}

/* DESCRIPTION */
.project-card .desc {
  color: #bbb;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* TAGS */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 18px;
}

.tags span {
  background: #1a1a1a;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
}

/* LINKS */
.project-links {
  display: flex;
  gap: 15px;
}

.project-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-bottom: 1px solid #444;
  transition: 0.3s;
}

.project-links a:hover {
  color: cyan;
  border-color: cyan;
}

/* TABLET */
@media (max-width: 1000px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .projects {
    padding: 60px 20px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-image {
    height: 200px;
  }
}